<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <!-- v-model:双向绑定
    v-model="变量" -->
    <div class="box">
        <input type="text" v-model="msg">
        <p>
            {{msg}}
        </p>
    </div>
</body>
</html>
<script>
    let vm = new Vue({
        el: ".box",
        data: {
           msg:"item"
        },
    })
</script>