<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
    <style>
        .bin {
            width: 100px;
            height: 100px;
            background-color: pink;
        }
    </style>
</head>

<body>
    <!-- v-bind:该指令可以给 HTML 元素或者组件动态地绑定一个或多个特性，比如：style、class。 -->
    <!-- v-on用于绑定事件监听，用在普通的 HTML 元素上时，只能监听 原生 DOM 事件。用在自定义元素组件上时，也可以监听子组件触发的自定义事件。 -->
    <div class="box">
        <input type="button" name="" v-bind:value="myType" v-bind:style="{color:msg}" v-on:click="clickme">
        <input type="text" name="" v-bind:value="myType" v-bind:style="{color:msg}" v-on:keydown="key">
        <p v-bind:class="classbin" ></p>
        <ul>
            <!-- 循环普通数组的值，item 为每一项的值， list 为被遍历的数组 -->
            <li v-for='item in list' v-text='item' v-cloak></li>
        </ul>
        <ul>
            <!-- 遍历 users 对象数组中的成员，user 为对象成员，i 为当前对象在数组中的索引 -->
            <li v-for="(user, i) in users" v-cloak>{{user.id}},{{user.name}},{{i}}</li>
        </ul>
    </div>

</body>

</html>
<script>
    let vm = new Vue({
        el: ".box",
        data: {
            myType: "请输入账号",
            msg: "red",
            classbin: "bin",
            list: [1, 3, 5, 7, 9, 11],
            users: [
                { id: 1, name: '苏小小' },
                { id: 2, name: '苏妲己' },
                { id: 3, name: '苏凌香' },
                { id: 4, name: '苏宛儿' }
            ],
        },
        methods: {
            clickme() {
                console.log("点了")
            },
            key(){
                console.log("在敲了")
            }
        }
    })
</script>